# Exploring Twitter Sentiment

This is my practice working through a set of problems from the [intro to NLP course by Shivam Bansal](https://courses.analyticsvidhya.com/courses/Intro-to-NLP).

The course provides an example table of data containing ~15,000 tweets and their assocaited meta data. First we want to find the most common words in tweets.

In [33]:
import pandas as pd
import numpy as np

In [6]:
dF = pd.read_csv('data/tweets.csv', index_col=0, encoding='ISO-8859-1')

print(dF.head(5))

   X                                               text  favorited  \
1  1  RT @rssurjewala: Critical question: Was PayTM ...      False
2  2  RT @Hemant_80: Did you vote on #Demonetization...      False
3  3  RT @roshankar: Former FinSec, RBI Dy Governor,...      False
4  4  RT @ANI_news: Gurugram (Haryana): Post office ...      False
5  5  RT @satishacharya: Reddy Wedding! @mail_today ...      False

   favoriteCount replyToSN              created  truncated  replyToSID  \
1              0       NaN  2016-11-23 18:40:30      False         NaN
2              0       NaN  2016-11-23 18:40:29      False         NaN
3              0       NaN  2016-11-23 18:40:03      False         NaN
4              0       NaN  2016-11-23 18:39:59      False         NaN
5              0       NaN  2016-11-23 18:39:39      False         NaN

             id  replyToUID  \
1  8.014957e+17         NaN
2  8.014957e+17         NaN
3  8.014955e+17         NaN
4  8.014955e+17         NaN
5  8.014954e+17         NaN

                                        statusSource       screenName  \
1  <a href="http://twitter.com/download/android" ...  HASHTAGFARZIWAL
2  <a href="http://twitter.com/download/android" ...   PRAMODKAUSHIK9
3  <a href="http://twitter.com/download/android" ...  rahulja13034944
4  <a href="http://twitter.com/download/android" ...        deeptiyvd
5  <a href="http://cpimharyana.com" rel="nofollow...        CPIMBadli

   retweetCount  isRetweet  retweeted
1           331       True      False
2            66       True      False
3            12       True      False
4           338       True      False
5           120       True      False

In [57]:
def count_word_freqs(text, n_top = 20):
    """
    Count the frequency of each word and return the most frequent
    
    Parameters: 
    -----------
    text : pandas series object
        Pandas series object (column) of tweet texts
    n_top : int
        the number of most frequent entries to be returned
    
    Returns:
    -----------
    count_freqs : pandas Series
        A pandas series with the most frequent words and the 
        frequency in which they appear
    """
    # stack and split tweets into individual words
    stacked = np.hstack(text.str.split())
    
    count_freqs = pd.Series(stacked).value_counts()[:n_top]
    
    return count_freqs

In [56]:
count_word_freqs(dF.text)

RT                 11053
to                  7650
is                  5152
in                  4491
the                 4331
of                  4053
#Demonetization     3253
demonetization      3162
on                  2751
#demonetization     2474
PM                  2384
Modi                2379
India               2243
and                 2220
a                   2180
that                2168
out                 1729
for                 1672
so                  1599
had                 1598
dtype: int64